<main class="login-body" data-vide-bg="/assets/img/Friendship">
	<form class="form-default" action="/users/forgot-password-pass" method="POST">

		<div class="login-form">
			<div class="logo-login">
				<a href="/"><img src="/assets/img/logo2.png" alt=""></a>
			</div>
			<h2>Забравена парола</h2>
			<div class="form-input">
				<label for="name">Имейл:</label>
				<input type="email" name="email" placeholder="Въведете вашия имейл адрес." autocomplete="email">
			</div>
			<div class="form-input">
				<label for="name">Нова парола:</label>
				<input type="password" name="password" placeholder="Въведете вашата парола."
					autocomplete="current-password">
			</div>
			<div class="form-input pt-30">
				<input type="submit" name="submit" value="Въведи">
			</div>
		</div>
	</form>
</main>