<main class="login-body" data-vide-bg="/assets/img/Friendship">
	<form class="form-default" action="/users/forgot-password-code" method="POST">

		<div class="login-form">
			<div class="logo-login">
				<a href="/"><img src="/assets/img/logo2.png" alt=""></a>
			</div>
			<h2>Забравена парола</h2>
			<div class="form-input">
				<label for="name">Въведете 6-цифрен код:</label>
				<input type="text" name="code" placeholder="Въведете получения код.">
			</div>
			<div class="form-input pt-30">
				<input type="submit" name="submit" value="Потвърди">
			</div>
		</div>
	</form>
</main>