<main class="main">
	<section id="hero" class="hero section dark-background">
		<img src="assets/img/hero.jpg" alt="" data-aos="fade-in">
		<div class="container">
			<div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
				<div class="col-xl-6 col-lg-8">
					<h2>Един маршрут, безброй възможности<span>.</span></h2>
					<p>Свързваме всички, които пътуват в една посока - сподели пътя, намали разходите и създай нови
						приятелства.</p>
				</div>
			</div>
			<div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
				<div class="col-xl-2 col-md-4">
					<div class="icon-box">
						<i class="bi bi-binoculars"></i>
						<h3><a>Намери пътуване</a></h3>
					</div>
				</div>
				<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
					<div class="icon-box">
						<i class="bi bi-bullseye"></i>
						<h3><a>Предложи пътуване</a></h3>
					</div>
				</div>
				<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
					<div class="icon-box">
						<i class="bi bi-fullscreen-exit"></i>
						<h3><a>Да опазим природата</a></h3>
					</div>
				</div>
				<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
					<div class="icon-box">
						<i class="bi bi-card-list"></i>
						<h3><a>Безопасност и доверие</a></h3>
					</div>
				</div>
				<div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
					<div class="icon-box">
						<i class="bi bi-gem"></i>
						<h3><a>Спести време и средства</a></h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about section">
		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-6 order-1 order-lg-2">
					<img src="assets/img/about-2.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 order-2 order-lg-1 content">
					<h3>Защо да изберете нас?</h3>
					<p class="fst-italic">
						Нашата платформа ви помага да спестите време, средства и да пътувате екологично.
					</p>
					<ul>
						<li><i class="bi bi-check2-all"></i> <span>Лесно и удобно: Намерете или предложете пътуване
								със само няколко клика.</span></li>
						<li><i class="bi bi-check2-all"></i> <span>Икономично: Споделете разходите за гориво и
								намалете разходите си.</span></li>
						<li><i class="bi bi-check2-all"></i> <span>Екологично: Подобрете своя въглероден отпечатък,
								като пътувате заедно.</span></li>
						<li><i class="bi bi-check2-all"></i><span>Сигурност: Доверие на рейтинги и отзиви от нашата
								общност.</span></li>
					</ul>
					<p>
						с При нас пътуването ще бъде по-достъпно, по-сигурно и по-забавно. Присъединете се към
						нашата общност
						и открийте нови приятели, докато споделяте пътя си!
					</p>
				</div>
			</div>

		</div>

	</section>

	<section id="services" class="services section">
		<div class="container section-title">
			<h2>НАШИТЕ УСЛУГИ</h2>
			<p>Открийте как нашата платформа улеснява пътуванията ви и ги прави по-удобни, сигурни и екологични!</p>
		</div>
		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-activity"></i>
						</div>
						<h3>Намери Пътуване</h3>
						<p>Лесно и бързо открий маршрути, които съвпадат с твоите планове и предпочитания.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-broadcast"></i>
						</div>
						<h3>Предложи Пътуване</h3>
						<p>Сподели своя маршрут, намали разходите за гориво и помогни на други да стигнат до своята
							дестинация.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-easel"></i>
						</div>
						<h3>Пътувай Екологично</h3>
						<p>Направи света по-зелен – пътувай споделено и намали въглеродния отпечатък.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-bounding-box-circles"></i>
						</div>
						<h3>Сигурност и Доверие</h3>
						<p>Доверете се на проверени профили, отзиви и рейтинги за безопасно пътуване.</p></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-calendar4-week"></i>
						</div>
						<h3>Проследи Маршрута</h3>
						<p>Следете в реално време маршрута на вашия шофьор или пътници.</p></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-chat-square-text"></i>
						</div>
						<h3>Спести Време и Пари</h3>
						<p>Открий най-удобните опции за пътуване и спести разходи и време.</p></a>
					</div>
				</div>
			</div>

		</div>

	</section>

	<section id="call-to-action" class="call-to-action section dark-background">
		<img src="assets/img/cta.jpg" alt="">
		<div class="container">
			<div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
				<div class="col-xl-10">
					<div class="text-center">
						<h3>Готови ли сте за следващото си пътуване?</h3>
						<p>Присъединете се към нашата общност и направете пътуванията си по-лесни, икономични и
							забавни. Намерете подходящо пътуване или предложете своето – всичко е на един клик
							разстояние!</p>
						<a class="cta-btn" href="/users/register">Започнете сега!</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="stats" class="stats section">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row gy-4 align-items-center justify-content-between">
				<div class="col-lg-5">
					<img src="assets/img/stat.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6">
					<h3 class="fw-bold fs-2 mb-3">Доверете се на нашата общност!</h3>
					<p>
						С хиляди доволни потребители и успешни пътувания, ние правим пътуването по-удобно, безопасно
						и екологично.
					</p>
					<div class="row gy-4">
						<div class="col-lg-6">
							<div class="stats-item d-flex">
								<i class="bi bi-emoji-smile flex-shrink-0"></i>
								<div>
									<span data-purecounter-start="0" data-purecounter-end="{{usersCount}}"
										data-purecounter-duration="1" class="purecounter"></span>
									<p><strong></strong> <span>Доволни пътници, които вече използват
											платформата.</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="stats-item d-flex">
								<i class="bi bi-journal-richtext flex-shrink-0"></i>
								<div>
									<span data-purecounter-start="0" data-purecounter-end="{{roadsCount}}"
										data-purecounter-duration="1" class="purecounter"></span>
									<p><strong></strong> <span>Повече споделени маршрути в цялата страна.</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>