<main class="login-body" data-vide-bg="/assets/img/login-bg">
    <form class="form-default" action="/users/login" method="POST">

        <div class="login-form">
            <div class="logo-login">
                <a href="/"><img src="/assets/img/logo2.png" alt=""></a>
            </div>
            <h2>Влезте в профила си</h2>
            <div class="form-input">
                <label for="name">Имейл:</label>
                <input type="email" name="email" placeholder="Въведете вашия имейл адрес." autocomplete="email">
            </div>
            <div class="form-input">
                <label for="name">Парола:</label>
                <input type="password" name="password" placeholder="Въведете вашата парола."
                    autocomplete="current-password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Вход">
            </div>

            <span style="color: white">Забравили сте паролата си? <a style="color: lightseagreen;" href="#"
                    class="forget">Забравена парола</a></span>
            <span style="color: white">Нямате съществуващ профил? <a style="color: lightseagreen;" href="/users/register"
                    class="registration">Регистрация</a></span>
        </div>
    </form>
</main>