<main class="register-body" data-vide-bg="/assets/img/reg-bg.mp4">
    <form class="form-default" action="login-bg.mp4" method="POST">
        <div class="register-form">
            <div class="logo-login">
                <a href="index.html"><img src="/assets/img/logo2.png" alt=""></a>
            </div>
            <h2>Регистрация на нов потребител</h2>

            <div class="form-input">
                <label for="name">Име</label>
                <input type="text" name="name" placeholder="Въведете вашето име...">
            </div>
            <div class="form-input">
                <label for="name">Фамилия</label>
                <input type="text" name="name" placeholder="Въведете вашата фамилия...">
            </div>
            <div class="form-input">
                <label for="name">Имейл</label>
                <input type="email" name="email" placeholder="Въведете вашият имейил..." autocomplete="email">
            </div>
            <div class="form-input">
                <label for="name">Профилна снимка</label>
                <input type="file" name="image" autocomplete="image">
            </div>
            <div class="form-input">
                <label for="name">Парола</label>
                <input type="password" name="password" placeholder="Въведете вашата парола..."
                    autocomplete="new-password">
            </div>
            <div class="form-input">
                <label for="name">Повторете паролата</label>
                <input type="password" name="password" placeholder="Потвърдете паролата..." autocomplete="new-password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Регистрация">
            </div>
            <span style="color: white;">Имате вече съществуващ профил? <a style="color: lightseagreen;"
                    href="login.html" class="registration">Вход</a></span>
        </div>
    </form>
</main>