<main class="register-body" data-vide-bg="/assets/img/reg-bg.mp4">
    <form class="form-default" action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="register-form">
            <div class="logo-login">
                <a href="/"><img src="/assets/img/logo2.png" alt=""></a>
            </div>
            <h2>Регистрация на нов потребител</h2>

            <div class="form-input">
                <label for="firstName">Име</label>
                <input type="text" id="firstName" name="firstName" placeholder="Въведете вашето име...">
            </div>
            <div class="form-input">
                <label for="lastName">Фамилия</label>
                <input type="text" id="lastName" name="lastName" placeholder="Въведете вашата фамилия...">
            </div>
            <div class="form-input">
                <label for="email">Имейл</label>
                <input type="email" id="email" name="email" placeholder="Въведете вашият имейил..." autocomplete="email">
            </div>
             <div class="form-input">
                <label for="phone">Телефон</label>
                <input type="text" id="phone" name="phone" placeholder="Въведете вашият телефонен номер..." autocomplete="phone">
            </div>
            <div class="form-input">
                <label for="profilePicture">Профилна снимка</label>
                <input type="file" id="profilePicture" name="profilePicture" autocomplete="image">
            </div>
            <div class="form-input">
                <label for="password">Парола</label>
                <input type="password" id="password" name="password" placeholder="Въведете вашата парола..."
                    autocomplete="new-password">
            </div>
            <div class="form-input">
                <label for="repeatPassword">Повторете паролата</label>
                <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Потвърдете паролата..." autocomplete="new-password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" value="Регистрация">
            </div>
            <span style="color: white;">Имате вече съществуващ профил? <a style="color: lightseagreen;"
                    href="/users/login" class="registration">Вход</a></span>
        </div>
    </form>
</main>