<main>
    <section class="py-5" id="offer-trip-page">
        <div class="container offer-trip">
            <h1>Споделяне на обява за пътуване</h1>
            <div>
                <form action="/roads/journey-offer" method="POST" enctype="multipart/form-data">
                    <div class="offer-label">
                        <label for="startPoint"> <i class="fas fa-map-marker-alt"></i> Начална точка </label>
                        <label for="endPoint"> <i class="fas fa-map-marker-alt"></i> Крайна точка</label>
                    </div>
                    <div class="form-group offer-input">
                        <input type="text" class="form-control-2" id="startPoint"
                            placeholder="гр. София, Студентски град град №..." name="startPoint" value="">
                        <input type="text" class="form-control-2" id="endPoint" placeholder="гр. Бургас, ул. ..."
                            name="endPoint" value="">
                    </div>
                    <div class="offer-label">
                        <label for="date"> <i class="far fa-calendar-alt"></i> Дата на пътуване</label>
                        <label for="time"> <i class="far fa-clock"></i> Час на тръгване</label>
                    </div>
                    <div class="form-group offer-input">
                        <input type="date" class="form-control-2" id="date" placeholder="18 May 2021" name="date"
                            value="">
                        <input type="time" class="form-control-2" id="time" placeholder="19:00 PM" name="time" value="">
                    </div>
                    <div class="offer-label">
                        <label for="carImage">Снимка на автомобила</label>
                        <label for="carBrand">Марка на автомобила</label>
                    </div>
                    <div class="form-group offer-input">
                        <input type="file" class="form-control-2" id="carImage" name="carImage"
                            value="">
                        <input type="text" class="form-control-2" id="carBrand" placeholder="BMW X6" name="carBrand" value="">
                    </div>
                    <div class="offer-label">
                        <label for="seats">Свободни места</label>
                        <label for="price">Такса за пътуващи</label>
                    </div>
                    <div class="form-group offer-input">
                        <input type="number" class="form-control-2" id="seats" placeholder="4" name="seats" value="">
                        <input type="number" class="form-control-2" id="price" placeholder="25" name="price" value="">
                    </div>
                    <div class="form-group">
                        <label for="description">Описание на обявата:</label>
                        <textarea class="form-control" id="description"
                            placeholder="Подробна информация за пътуването..." name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Сподели</button>
                </form>
            </div>
        </div>
    </section>
</main>