<footer id="footer" class="footer dark-background">
	<div class="footer-top">
		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-4 col-md-6 footer-about">
					<a href="index.html" class="logo d-flex align-items-center">
						<span class="sitename">GoTogether.</span>
					</a>
					<div class="footer-contact pt-3">
						<p>Студентски град № 4</p>
						<p>София, България</p>
						<p class="mt-3"><strong>Телефон:</strong> <span>+359 87 704 0853</span></p>
						<p><strong>Имейил:</strong> <span>m.sofroniev12@gmail.com</span></p>
					</div>
					<div class="social-links d-flex mt-4">
						<a target="_blank"
							href="https://www.facebook.com/profile.php?id=100009733451214&locale=bg_BG"><i
								class="bi bi-facebook"></i></a>
						<a target="_blank" href="https://www.instagram.com/martin_13s18/"><i
								class="bi bi-instagram"></i></a>
						<a target="_blank" href="https://www.linkedin.com/in/martinsofroniev/"><i
								class="bi bi-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container text-center">
			<p>© <span>Copyright</span> <strong class="px-1 sitename">GoTogether.</strong> <span>Всички права са
					запазени.</span>
			</p>
			<p>Мартин Софрониев</p>
		</div>
	</div>

</footer>