<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="/index" class="logo d-flex align-items-center me-auto me-lg-0">
            <img src="/assets/img/logo2.png" alt="">
            <h1 class="sitename">GoTogether</h1>
            <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/index">Начало</a></li>
                <li><a href="/roads">Каталог</a></li>
                <li><a href="/trip-create">Сподели пътуване</a></li>
                <li><a href="/profile">Профил</a></li>
                <li><a href="/about">За нас</a></li>
                <li><a href="/contact">Контакти</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/login">Вход</a>
        <a class="btn-getstarted" href="/register">Регистрация</a>
    </div>
</header>