<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
            <img src="/assets/img/logo2.png" alt="">
            <h1 class="sitename">GoTogether</h1>
            <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/">Начало</a></li>
                <li><a href="/roads/road-offers">Каталог</a></li>
                {{#if user}}
                    <li><a href="/roads/journey-offer">Сподели пътуване</a></li>
                    <li><a href="/users/profile/{{email}}">Профил</a></li>
                {{/if}}
                <li><a href="/roads/about">За нас</a></li>
                <li><a href="/roads/contacts">Контакти</a></li>
                {{#if admin}}
                    <li><a href="/admin">Администраторско табло</a></li>
                {{/if}}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        {{#if user}}
            <a class="btn-getstarted" href="/users/profiles">Потребители</a>
            <a class="btn-getstarted" href="/users/logout">Изход</a>
        {{else}}
            <a class="btn-getstarted" href="/users/login">Вход</a>
            <a class="btn-getstarted" href="/users/register">Регистрация</a>
        {{/if}}
    </div>
</header>